html, body, #root {
    min-height: 100vh;
    height: 100%;
}

p {
    margin: 0;
}

a {
    color: #297d92;
}

#root {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #192d38;
}
